#container {

    .top-part {
        width: 1340;
        height: 107;
        gap: 16px;
       

    }
    .top-part p{
        text-align: center;
        margin-top: 200px;
        width: 107;
        height: 24;
        font-family: Syne;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        color:  #222222;
    }

    .top-part h6 {
        text-align: center;
        margin-top: 8px;
        width: 629;
        height: 67;
        font-family: Syne;
        font-weight: 700;
        font-size: 56px;
        line-height: 67.2px;
        letter-spacing: 0%;
        text-align: center;
        color:  #222222;
      

    }
}