.cl1 {
    background-image: url('https://res.cloudinary.com/dcxzlpare/image/upload/v1740919668/car3_mdkilj.png');
    background-position: left;
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 300px;
    
   
}

.cl1 {
    text-align: left;
    position: absolute;
    right: 250px;
    bottom: -4300px;
    /*color: #fff;*/
    line-height: 45px;
}

.msg2 {
    width: 250px;
    
}