.container {
    background-image: url('../assets/car5.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100%;
    border-radius: 10px;
}
    
.container  h3{
    width: 190px;
    margin-left: 25px;
    padding-top: 15px;
    padding-bottom: 25px;
    color: white;
}

.container button {
    background-color: rgb(221, 10, 10);
    color: #ffffff;
    border-radius: 10px;
    width: 150px;
    height: 25px;
    padding: 5px;
    margin-left: 20px;

}