.page{
    padding: 20px;
    margin: 10px;
    height: 100px;
}

.left_part p{
    color: grey;
    
}

.right_part img{
    height: 800px;
    width: 800px;
   position: absolute;
   right: 90px;
    
}